In [1]:
import pandas as pd
import numpy as np

In [19]:
np.random.seed(42)

n_users = 5000

ages = np.random.randint(18,70,size=n_users)
gender = np.random.choice(['Male','Female'],size=n_users,p=[0.5,0.5])
sleep_hours=np.random.normal(loc=7,scale=10,size=n_users).clip(3,10)
daily_steps = np.random.normal(loc=7500, scale=3000, size=n_users).clip(0, 20000)
resting_heart_rate = np.random.normal(loc=70, scale=10, size=n_users).clip(45, 100)
daily_calorie_balance = np.random.normal(loc=0, scale=500, size=n_users).clip(-1500, 1500)

In [21]:
df = pd.DataFrame({'age':ages,
                   'gender':gender,
                   'daily_steps': daily_steps.astype(int),
                    'sleep_hours': np.round(sleep_hours, 1),
                    'resting_heart_rate': np.round(resting_heart_rate, 1),
                    'daily_calorie_balance': np.round(daily_calorie_balance, 1)})

In [23]:
df.head()

,age,gender,daily_steps,sleep_hours,resting_heart_rate,daily_calorie_balance
0,56,Female,5872,10.0,60.2,361.2
1,69,Male,3365,3.0,75.2,96.9
2,46,Female,7440,7.3,68.5,107.6
3,32,Male,3631,10.0,72.5,-461.6
4,60,Female,9292,4.4,77.1,-146.9

In [25]:
df.to_csv('health_data.csv',index = False)